// Colors
$primary-site-color: #1e9296 !default;
$primary-site-hover-color: #199ba0 !default;

// Top Navigation
$top-nav-link-font-size: 0.875rem;
$top-nav-link-color: #f3f3f3 !default;
$top-nav-link-decoration: none !default;

$top-nav-link-hover-color: #fff !default;
$top-nav-link-hover-decoration: none !default;
$top-nav-link-hover-shadow: #cfcfcf !default;

// Main Vavigation
$main-nav-bg-color: $primary-site-color !default;
$main-nav-item-hover-color: $primary-site-hover-color !default;

// Shopping
$shopping-cart-hover: #1eb838 !default;