@import "myvars";

*
{
    font-family: 'Playfair Display', serif;
}

.top-nav-link
{
    font-size: $top-nav-link-font-size;
    color: $top-nav-link-color;
    text-decoration: $top-nav-link-decoration;
    transition: text-shadow 0.3s;
}

.top-nav-link:hover
{
    color: $top-nav-link-hover-color;
    text-decoration: $top-nav-link-hover-decoration;
    text-shadow: 0px 0px 3px $top-nav-link-hover-shadow;
}

#main-header
{
    background-color: $main-nav-bg-color;
}

.navbar-toggler
{
    border: 0px none;
}

.navbar-toggler .icon-bar 
{
    background-color: #fffc;
}

.navbar-toggler .icon-bar 
{
    display: block;
    width: 25px;
    height: 4px;
}

.navbar-toggler .icon-bar + .icon-bar
{
    margin-top: 6px;
}

.navbar-toggler .icon-bar:nth-child(2)
{
    width: 25px;
}

.navbar-toggler.collapsed .icon-bar:nth-child(2)
{
    width: 20px;
    transition: width 0.3s;
}

.nav-item
{
    font-size: 1.125rem;
    transition: background-color 0.3s;
}

.nav-item:hover
{
    background-color: $main-nav-item-hover-color;
}

.logo
{
    height: 100px;
}

.logo-sm-xs
{
    height: 48px;
}

#search
{
    width: 50%;
}

.shopping-cart-icon
{
    font-size: 36px;
    color: $primary-site-color;
    transition: color 0.3s;
}

.shopping-cart-icon:hover
{
    color: $shopping-cart-hover;
    cursor: pointer;
}

@media (max-width: 767.98px)
{
    #main-header
    {
        position: fixed;
        top: 0px;
        left: 0px;
    }
}